body {
    background-color: rgb(188, 217, 235);
    margin: 0;
    display: grid;
    align-items: center;
}
.site-header {
    background-color: rgb(0, 51, 102);
}
.nav {
    display: flex;
    background-color:rgb(13, 42, 71);
    gap: 3px;
    
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}
nav
{
    float: center;
}

