body {
    font-family: Arial, sans-serif;
    color: #000;
    background-color: #fff;
}

header {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: darkblue;
    padding: 20px;
    border-radius: 5px;
    
}
.h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    color:black;
}
header a {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    margin-left: 10px;
    justify-content: center;
    border-radius: 20px;
    padding: 9px;
    color:white;

}
.brand {
    display: flex;
    align-items: center;
    gap: 15px;
    color: silver;
}
.logo {
    display: grid;
    grid-template-columns: 20px 20px;
    grid-template-rows: 20px 20px;
    gap: 3px;
    width: fit-content;
}
.logo span{
    background: silver;
}
   

