body {
  font-family: Arial, sans-serif;
  color: #000;
  background-color: #fff;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
  background-color: darkblue;
  padding: 1px;
  border-radius: 5px;
}
.h1 {
  text-align: center;
  font-family: Arial, sans-serif;
  color: black;
}
header a {
  font-family:
    "Cambria, Cochin, Georgia, Times, " "Times New Roman",
    serif;
  text-decoration: none;
  margin-left: 15px;
  justify-content: center;
  padding: 9px;
  color: white;
}
#sign-in-btn {
  margin-left: 870px;
  background-color: #0078d4;
}
.brand {
  display: flex;
  align-items: center;
  gap: 15px;
  color: silver;
}
.logo {
  display: grid;
  grid-template-columns: 15px 15px;
  grid-template-rows: 15px 15px;
  box-shadow: 0cqmin;
  gap: 3px;
  width: fit-content;
  margin-left: 5px;
}
.logo span {
  background: silver;
  grid-template-columns: inherit;
}
.hero {
  margin: 0;
  height: 400px;
}
.cards {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  margin-left: 20px;
}
.card1 {
  display: block;
  margin-left: px;
  border-radius: 9px;
  border: solid;
  border-color: white;
  box-shadow: 0 5px 20px;
}
.card1:hover {
  box-shadow: 9px 9px 70px black;
  cursor: pointer;
}
.card1 img {
  border-radius: 8px;
  width: 300px;
  border-color:white;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
